.row > * {
    margin: 0 !important;
    padding: 0 !important; 

}

.mainHeader{
    /* padding: 8px; */
   background-color: rgb(212, 184, 203);
}

.mainRow{
    padding: 8px 0;
}


.headerNavlink{
    display: inline-block;
    padding-top: 15px;
    font-size: 17px;
    font-weight: bolder !important;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif !important;    
}

.navlinkRow{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.headerNavlink:hover{
    color: rgb(32, 7, 71);
    scale: 1.1;
    transition: 0.2s linear;
    border: 1px black;
  
}

.logoCol img{
    width: 220px;
    height: 60px;
    /* padding: 2px */

}